<p>Hello!</p>

<p>The project <%= @task.title %> has been updated!</p>

<p>The following tasks have been added: 

<p><strong>Task: </strong><%= @task.title %></p>
<p><strong>Due Date: </strong><%= @task.due_date %></p>

<p>Regards,</p>
<p>The LOL Company</p>