<h1>Favorites</h1>
<br>
<% if @favorites.present? %>
  <ul>
    <% @favorites.each do |fav| %>
      <li><%= fav %></li>
    <% end %>
  </ul>
<% end %>

<% if !@favorites.present? %>
  <em>No love? Get <a href="/projects/index">some!<a></em>
<% end %>