<h1>Edit Task</h1>
<%= form_for [@project, @task] do |f| %>
  <div class="form-inline">
    <%= f.text_area :title, class: "form-control", placeholder: "Task Title", rows: 1 %>
    <%= f.text_area :due_date, class: "form-control", placeholder: "Due Date", rows: 1 %>
    <%= f.submit class: "btn btn-default" %><br>
  </div>
<% end %>
