@import 'bootstrap-sprockets';
@import 'bootstrap';

ul {
	margin-top: 15px;
}


li {
 display: inline;
}

.header-bg {
 	background-image: -ms-linear-gradient(right, #FFFFFF 0%, #00A3EF 200%)
 	background-image: -moz-linear-gradient(right, #FFFFFF 0%, #00A3EF 200%)
 	background-image: -o-linear-gradient(right, #FFFFFF 0%, #00A3EF 200%)
 	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(2, #00A3EF))
 	background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #00A3EF 200%)
 	background-image: linear-gradient(to left, #FFFFFF 0%, #00A3EF 200%)
 }

.search {
	position: absolute;
	right: 90px;
	margin-top: -45px;

}

.search_btn {
	position: absolute;
	left: 172px;
	margin-bottom: 30px;
}
