@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

a {
	color: white;
	font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FF3399;
}

a:active {
    text-decoration: underline;
}
header {
	display: block;
	height: 50px;
	background: black;
	margin-bottom: 20px;
}
ul {
	padding-left: 40px;
	padding-top: 12px;
	padding-right: 35px;

}


li {
 display: inline;
 color: white;
}

.search {
	position: absolute;
	right: 140px;
	margin-top: -45px;

}
.nav-user {
	transform: translateY(-20px);
}

.search_btn {
	position: absolute;
	left: 170px;
	margin-bottom: 30px;
}

thead {
	font-weight: bold;
	color: #666;
}

textarea {
    resize: none;
}
.button-spacing {
	.btn {
		padding-left: 10px;
	}
}

.category-headers {
	color: #FF3399;
}

table {
	max-width: 600px;
}

#comments_button {
	background: black;
	color: white;
}

.col-sm-12 {
	padding: 0;
}

.borderless {
	tbody th td {
		border: none;
		border-top: none;
	} 
}